{% extends 'base.html.twig' %}

{% block title %}Book index{% endblock %}

{% block body %}
    <div class="container py-3">
        <h1>Book index</h1>
        <a href="{{ path('book_new') }}" class="btn btn-primary">
            Create new
        </a>

        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Size</th>
                <th>Orientation</th>
                <th>Created</th>
                <th>Updated</th>
                <th>Deleted</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for book in books %}
                <tr>
                    <td>{{ book.id }}</td>
                    <td>
                        <a href="{{ path('book_show', {'id': book.id}) }}">
                            {{ book.title }}
                        </a>
                    </td>
                    <td>{{ book.size }}</td>
                    <td>{{ book.orientation }}</td>
                    <td>{{ book.created ? book.created|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ book.updated ? book.updated|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ book.deleted ? 'Yes' : 'No' }}</td>
                    <td>
                        <a href="{{ path('book_show', {'id': book.id}) }}">show</a>
                        <a href="{{ path('book_edit', {'id': book.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="8">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>


    </div>
{% endblock %}
