{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        @media print {
            @page {
                size: {{ book.size }} {{ book.orientation }};
                margin: 20mm 10mm;

                @top-center {
                    content: "{{ book.title }}";
                }

                @bottom-right {
                    content: counter(page) " of " counter(pages);
                }
            }

            footer {
                position: running(footer);
                display: block;
                text-align: center;
            }

            @page {
                @bottom-center {
                    content: element(footer)
                }
            }
        }
    </style>
    <script src="https://unpkg.com/pagedjs/dist/paged.polyfill.js"></script>
{% endblock %}

{% block body %}
    <div>
{#        <h1>#}
{#            {{ book.title }}#}
{#        </h1>#}
        {{ book.intro | markdown }}
    </div>
{% endblock %}
